{# src/MyBlogBundle/Resources/views/Emails/register.html.twig #}
    <h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

To login, go to: <a href="{{ url('my_blog_homepage', {'token': token}) }}">Confirm</a>.

Thanks!