{# src/MyBlogBundle/Resources/views/Emails/sendstatistic.html.twig #}
    <h3>This users registered for 24h.</h3>

    <h4>Users list</h4>
   <table>
       <tr>
           <th>firstname</th>
           <th>lastname</th>
           <th>email</th>
       </tr>
       <tr>
           <td>Test1</td>
           <td>Testovich</td>
           <td>1@1.ru</td>
       </tr>
   </table>

Thanks!