<!-- MyBlogBundle/Resources/views/Default/index.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %} - TestBlog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}

            {% endblock %}
        </div>

        <hgroup>
            {% for flashMessage in app.session.flashbag.get('message') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
        </hgroup>
    </header>

    <section class="main-col container">
        {% block body %}{% endblock %}
        <div class="forms-wrap row">
            <div class="left-form form-register col-sm-6">
                <h2>Register</h2>
                <div class="form-wrap">
                    {{ form_start(formReg) }}
                    {{ form_widget(formReg) }}
                    {{ form_end(formReg) }}
                </div>
            </div>
            <div class="right-form form-login col-sm-6">
                <h2>Login</h2>
                <div class="form-wrap">
                    {{ form_start(formLog, {'attr': {'id': 'form_log'}}) }}
                    {{ form_widget(formLog) }}
                    {{ form_end(formLog) }}
                </div>
            </div>
        </div>
    </section>

    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>
