label {
    min-width: 30%;
}
button {
    margin-left: 30%;
    display: block;
    min-width: 174px;
    margin-top: 20px;
}
section#wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgba(245, 245, 245, 0.65);
}
hgroup>p {
    text-align: center;
    font-size: 2em;
    color: #2e6da4;
}