{# src/MyBlogBundle/Resources/views/Emails/registration.html.twig #}
    <h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('confirm/'.token) }}">Confirm</a>.

Thanks!